[submodule "qps/libqrencode"]
	path = qps/libqrencode
	url = https://github.com/adameus03/libqrencode
[submodule "plibsys"]
	path = plibsys
	url = https://github.com/adameus03/plibsys
[submodule "libusb-cmake"]
	path = libusb-cmake
	url = https://github.com/libusb/libusb-cmake
